/* background color */
body, html {
  color: #464646;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100% !important;
  height: 100%;
  width: 100%;
  font-size: 16px;
}

.b_index {
  margin-top: -72px;
}

p {
  color: #464646;
  font-family: "Roboto", sans-serif;
  line-height: 1.5rem;
}

a {
  text-decoration: none;
  color: #464646;
}

h1 {
  font-family: "Anton", sans-serif;
  font-size: 7rem;
  color: #fff;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
}

h2 {
  font-size: 36px;
  font-family: "Cinzel", serif;
  color: #fff;
  font-weight: 400;
}

h3 {
  font-family: "Muli", sans-serif;
  color: #fff;
  font-weight: 200;
}

h4 {
  font-family: "Muli", sans-serif;
  color: #464646;
  font-weight: 200;
  font-size: 35px;
  text-transform: uppercase;
}

.logo {
  width: 187px;
}

.banner {
  position: relative;
  width: 100%;
  height: 100%;
}

.fade {
  position: absolute !important;
  width: 100%;
}
.fade-slider {
  height: 100%;
  width: 100%;
}

.ban {
  z-index: 4;
  position: absolute;
  bottom: 15rem;
  left: 10%;
}

.ban_ {
  z-index: 4;
  position: absolute;
  bottom: 30px;
  left: 10%;
}

.main {
  top: 4.5rem;
}
.main_up {
  position: relative;
  padding: 0;
}
.main_up h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300 !important;
  font-size: 4rem;
  color: #ffb175;
  text-align: center;
  margin-left: -12%;
  margin-bottom: -10px;
}

.header_ {
  margin-top: 72px;
}

header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.61);
  position: absolute;
  z-index: 99;
  height: 50px;
  position: fixed;
}

.top-nav {
  height: 50px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.top-nav ul {
  list-style: none;
}
.top-nav_logo {
  float: left;
}
.top-nav_menu {
  list-style: none;
  display: flex;
  float: left;
  line-height: 3rem;
  margin: 0;
}
.top-nav_menu li {
  margin-left: 28px;
  font-family: "Muli", sans-serif;
  font-size: 1.1rem;
  text-height: 1.1rem;
}
.top-nav_menu li:first-child {
  margin-left: 0;
}
.top-nav_menu li .nav_a {
  color: #fff;
  text-decoration: none;
  display: block;
}
.top-nav_menu li .nav_a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffb175;
  transform: TranslateY(0px) scale(0);
  transition: all 0.3s;
}
.top-nav_menu li .nav_a:hover {
  text-decoration: none;
}
.top-nav_menu li .nav_a:hover::after {
  transform: TranslateY(0px) scale(1);
}
.top-nav_menu li .nav_a_active::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffb175;
  transform: TranslateY(0px) scale(1);
}

.submenu {
  position: absolute;
  z-index: 5;
  min-width: 260px;
  background: white;
  border-top: 1px solid #CBCBCC;
  border-left: 1px solid #CBCBCC;
  border-right: 1px solid #CBCBCC;
  visibility: hidden;
  opacity: 0;
  transform-origin: 0% 0%;
  transform: rotateX(-90deg);
  transition: 0.3s linear;
  padding: 0;
  color: #282828;
}
.submenu li {
  min-width: 300px;
  margin: 0;
  padding-left: 10px;
  line-height: 32px;
}
.submenu li:hover {
  background-color: #ffb175;
  transition: 0.3s linear;
}
.submenu li:hover a {
  color: #282828;
}
.submenu li:hover a .fa-caret-down_ {
  transition: 0.2s linear;
  transform: rotate(90deg);
}
.submenu a {
  color: #282828;
}
.submenu ul {
  max-height: 600px;
  overflow: auto;
}
.submenu ul::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  -webkit-appearance: none;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.submenu ul::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}
.submenu ul li {
  position: relative;
  padding: 0 10px;
  margin: 0;
  min-width: 250px;
}
.submenu ul li a {
  color: #282828;
  padding: 10px 20px;
  font-size: 13px;
  border-bottom: 1px solid #CBCBCC;
  padding: 0;
  display: block;
  text-decoration: none;
}

.submenu .submenu {
  position: absolute;
  right: 100%;
  top: -1px;
  transition: 0.3s linear;
}

.top-nav li:hover > .submenu {
  transform: rotateX(0deg);
  visibility: visible;
  opacity: 1;
}

.btn_ {
  padding: 0;
  height: 46px;
  padding: 4px;
  background-color: rgba(255, 128, 0, 0.51);
  margin-bottom: 2px;
}
.btn_ a {
  line-height: 1.2;
  text-align: center;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  width: 100%;
  display: inline-block;
  color: #fff;
  font-weight: 400;
  transition: all 0.1s;
}
.btn_ a:hover {
  font-size: 2.1rem;
  text-decoration: none !important;
  color: #fff;
  border-color: #ffb175;
}

.ref {
  margin-top: 20px;
}

.ref-img {
  height: 76px;
}

.info {
  height: 270px;
  display: block;
  background-color: rgba(102, 102, 102, 0.68);
  border-radius: 0 20px 0 20px;
  font-size: 13px;
  position: relative;
}

.bottom_rows {
  /* padding: 50px */
}
.bottom_rows p {
  color: #464646;
  text-align: justify;
}
.bottom_rows_pic {
  width: 100%;
}
.bottom_rows_icon {
  width: 100%;
}

footer {
  background-color: #222222;
  padding: 1%;
}

.foot_top {
  background-color: #ffb175;
  height: 10px;
  position: relative;
}
.foot_top::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 10px;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 11px solid #ffb175;
  margin-left: -30px;
}
.foot_top i {
  font-size: 25px;
  padding-right: 20px;
}

.footer {
  padding-top: 20px;
}
.footer_menu {
  list-style: none;
  padding: 0;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  color: #464646;
  transition: 0.5s;
}
.footer p {
  color: #ffb175;
}
.footer i {
  font-size: 2rem;
  margin: 7px;
  color: white;
  cursor: pointer;
}
.footer i:hover {
  color: #464646;
  transition: 0.5s;
}

address {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  margin-bottom: 10px;
  color: #fff;
}

.parallax {
  min-height: 100%;
  background-color: black;
}

.fa-caret-down_ {
  float: left;
  margin-right: 3px;
  margin-top: 7px;
}

.parallax-window {
  min-height: 300px;
  background: transparent;
}

.parallax-window_first {
  min-height: 850px;
  background: transparent;
}

/* animated index page gallery */
.scrollme {
  perspective: 600px;
  z-index: 2;
}

.animateme {
  background: #e8e8e8;
  transform-origin: center center center;
}

.anim_pic {
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 12px 8px 22px 16px;
}

.contain {
  padding: 50px 0;
}

.top_h2 {
  padding: 75px 0px 26px 25px;
  border-bottom: 1px solid #a5a5a5;
}

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.yrm_box {
  min-height: 400px;
  height: auto;
  padding: auto;
}

.yrm_rsm {
  height: 110px;
  width: 102px;
  margin: auto;
  display: block;
}

.yrm_box P {
  font-family: "Bookman Old Style", "serif";
  font-style: italic;
  font-size: 14px;
  color: gray;
  padding: 10px;
  text-align: justify;
  float: right;
}

.meslek {
  font-weight: normal;
}

.isim {
  font-weight: bold;
}

tbody {
  color: #ffb175;
}

.line {
  margin: auto;
  color: #fff;
}
.line_w {
  display: flex;
  width: 100%;
}
.line_1 {
  height: 77px;
  min-width: 107px;
  float: left;
}
.line_1_ {
  height: 77px;
  min-width: 190px;
  float: left;
}
.line_2 {
  min-width: 200px;
  width: 100%;
  display: block;
  float: left;
  line-height: 41px;
  text-align: center;
}
.line_3 {
  height: 77px;
  float: left;
  min-width: 171px;
  text-align: center;
  padding-left: 30px;
  line-height: 10px;
}
.line_3 p {
  color: #fff;
  -ms-transform: rotate(-1deg);
}

.h_oz {
  font-size: 2.5rem;
  color: #464646;
  text-align: center;
}

.wrap {
  margin: 15px 0;
}

.first {
  line-height: 1;
  font-size: 3rem;
  padding-right: 10px;
  font-weight: 100;
  margin-left: -3px;
  text-transform: uppercase;
  float: left;
}

.first_row {
  line-height: 1;
  font-size: 2.4rem;
  padding-right: 10px;
  font-weight: 100;
  margin-left: -3px;
  text-transform: uppercase;
  float: none;
}

.img_iskele {
  height: 100%;
  width: 100%;
  max-width: 690px;
  max-height: 596px;
}

.sk_baner {
  margin-top: 60px;
}
.sk_baner p {
  font-size: 1.4rem;
  color: #777777;
  font-weight: 100;
  text-align: justify;
  margin: 10px;
}

.basliklar {
  text-transform: uppercase;
  font-size: 2rem;
  color: #464646;
}

.block {
  width: 350px;
  margin: auto;
}

.title {
  height: 40px;
  margin: 12px 0 20px 12px;
  font-size: 18px;
  font-weight: bold;
  max-width: 368px;
  width: 100%;
  line-height: 36px;
}

.inf {
  padding-left: 14px;
  padding-right: 17px;
  font-size: 18px;
  color: #666;
  height: 230px;
  max-width: 368px;
  width: 100%;
}

.phone {
  margin-top: 18px;
  height: 18px;
  background: url(/img/iletisim/ml.png) 2px 2px no-repeat;
  padding-left: 26px;
  font-size: 18px;
  padding-left: 50px;
}

.fax {
  margin-top: 5px;
  height: 18px;
  background-color: #039;
  background: url(/img/iletisim/ml.png) 2px -19px no-repeat;
  padding-left: 26px;
  font-size: 18px;
  padding-left: 50px;
}

.mail {
  margin-top: 5px;
  height: 18px;
  background: url(/img/iletisim/ml.png) 2px -39px no-repeat;
  padding-left: 26px;
  font-size: 18px;
  text-decoration: underline;
  padding-left: 50px;
}

.wa {
  margin-top: 5px;
  height: 18px;
  background: url(/img/iletisim/ml.png) 2px -63px no-repeat;
  padding-left: 26px;
  font-size: 18px;
  padding-left: 50px;
}

.title3 {
  width: 264px;
  height: 43px;
  padding-left: 12px;
  padding-top: 22px;
  background: url(/img/iletisim/d.png) no-repeat;
  font-size: 18px;
  font-weight: bold;
}

.info2 {
  width: 368px;
  padding-left: 14px;
  padding-right: 17px;
  font-size: 18px;
  color: #666;
  height: 7px;
}

.hours {
  max-width: 368px;
  width: 100%;
  height: 190px;
  margin-top: 12px;
  font-size: 18px;
  padding-left: 14px;
  padding-right: 14px;
}

.hours .h_title {
  width: 100%;
  height: 49px;
  font-size: 18px;
  font-weight: bold;
}

.hours .name {
  width: 50%;
  height: 20px;
  background: url(/img/iletisim/saat_icon.png) 2px 6px no-repeat;
  padding-left: 21px;
  float: left;
  margin-top: 10px;
}

.hours .time {
  width: 110px;
  height: 20px;
  float: right;
  text-align: right;
  margin-top: 10px;
}

.box {
  height: 284px;
  width: 100%;
  display: block;
}

.box_ {
  height: 180px;
  width: 100%;
  display: flex;
  margin: 40px 0;
  border-radius: 10px;
  background-color: #fff8f0;
}

.form, .box {
  float: left;
  width: 100%;
  height: 100%;
  padding-left: 19px;
  border-radius: 10px;
  background-color: #f9f9f9;
  padding: 0 20px;
}

.form .title {
  height: 40px;
  padding-top: 12px;
  font-size: 14px;
  font-weight: bold;
}

.form .text {
  height: 30px;
  font-size: 13px;
  color: #929292;
  padding-left: 15px;
}

.label {
  height: 60px;
  font-size: 13px;
  color: #595959;
}

.input_txt {
  max-width: 322px;
  width: 100%;
  height: 31px;
  padding: 0px 8px 0px 8px;
  font-size: 12px;
  color: #666;
  outline: 0;
  height: 31px;
  margin-bottom: 5px;
  box-shadow: 1px 1px 10px 1px #f1f1f1 inset;
  border-left: 1px solid #afafaf;
  border-top: 1px solid #afafaf;
  border-bottom: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  background-color: #fbfbfb;
  border-radius: 3px;
}

#mesaj {
  box-shadow: 1px 1px 10px 1px #f1f1f1 inset;
  border-left: 1px solid #afafaf;
  border-top: 1px solid #afafaf;
  border-bottom: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  background-color: #fbfbfb;
  border-radius: 3px;
  width: 100%;
  height: 88px;
  padding: 8px 8px;
  font-size: 12px;
  margin-bottom: 7px;
  font-family: Tahoma, Geneva, sans-serif;
  color: #666;
  float: left;
  outline: 0;
  resize: none;
}

.button_f {
  background: url(/img/iletisim/but.png) no-repeat;
  border: none;
  width: 109px;
  height: 33px;
  margin-top: 15px;
  font-size: 13px;
  font-family: Tahoma, Geneva, sans-serif;
  color: #666;
  outline: 0;
  float: right;
  margin-right: 20px;
}

.box2 {
  margin-left: 43px;
}

.inp {
  margin-right: 20px;
  width: 100%;
}

.fl_l {
  float: left;
}

.index_baslisklar {
  font-size: 2rem;
  color: #464646;
  font-weight: 600;
  text-align: center;
  font-weight: 100;
}
.index_baslisklar:first-child {
  font-size: 2.5rem;
}
.index_text {
  text-align: center;
  padding: 20px 0;
}

.line_index {
  width: 1px;
  height: 50px;
  border-left: 1px solid #ccc;
  margin: auto;
  margin-bottom: 20px;
}

.shad {
  background: url(/img/mob/shad.jpg);
  width: 100%;
  height: 13px;
}

.iletisim_h1 {
  position: relative;
  top: -133px;
}
.iletisim_h1 h1 {
  color: dimgray;
  text-align: left;
  font-size: 6rem;
}

.lgsm {
  margin: auto;
  z-index: 50;
  position: absolute;
}
.lgsm img {
  width: 300px;
  margin: auto;
  display: block;
}

.wa_ {
  margin-top: 30px;
  text-align: center;
  display: block;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  width: 100%;
  display: inline-block;
  font-weight: 400;
  transition: all 0.1s;
}

/* .top-nav_menu li
 * font-size: 0.8rem
 * margin-left: 10px
 * .top-nav_logo
 * float: none
 * .header, header
 * height: auto */

/*# sourceMappingURL=main.css.map */
